@charset "UTF-8";
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
  font-size: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #252f40;
    color: #fff;
  }
}

/* header */
/* h-base */
.top.wrapper {
  background-color: #727272;
  box-shadow: 0px 3px 10px rgb(117, 117, 117);
}
.top{
  display: block;
  justify-content: space-between;
  font-size: 0px;
}
.top *{
  display: inline-block;
  font-size: unset;
}
.top nav{
  float: right;
  line-height: 70px;
}
/* h-logo */
.top h1 a{
  height: 70px;
  display: block;
}
.logo {
  height: 70px;
}
/* h-nav */
.main-nav {
  font-size: 1.25rem;
  text-transform: 34px;
  list-style: none;
  float: right;
  margin-right: 30px;
}
.login {
  text-align: center;
  background-color: #f5f5f5;
  transition-duration: 200ms;
  height: 70px;
}
.login:hover{
  background-color: #b1b1b1;
}
.login a{
  text-decoration: none;
  font-size: 28px;
  font-weight: 100;
  padding: 0px 15px;
  color: #292929;
}

/* main */
main{
  margin: 50px auto;
  text-align: center;
}
.me-content{
  text-align: center;
}
footer {
  background: #560d04;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}
.e404{
  text-align: center;
}
#welcome{
  text-align: center;
}

.help {
    background: #03fcf4;
    margin: 10px 10px;
    border-width: thick;
}

/* welcome */
main #welcome select[name="channel"]{
  margin-bottom: 50px;
}




/* tags */
select {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 3px 3px;
  appearance: auto;
}
textarea {
  border: 1px solid #000;
}
input{
  border: 1px solid #000;
  border-radius: 5px;
}